EMAIL_USER=approtinaplus@gmail.com
EMAIL_PASS="tkge qvhy limr dgdv"

#Banco de dados
DB_HOST=10.87.169.139
DB_USER=rotinaplus
DB_PASSWORD=rotinaplus123
DB_DATABASE=rotinaplus
DB_PORT=3306

#Servidor
PORT=8080

#Bycrpt
SALT=20

#JWT
JWT_SECRET=5375a66836054aa5ce772188faf68b79/